%h1 The Hive
- @entries.each do |entry|
  .entry
    - if (not entry.respond_to? :source) and (not entry.respond_to? :published)
      %h3.title
        %a{:href => "/entries/#{entry.id}"}= entry.title
      %p.content= entry.content
    - elsif entry.respond_to? :source
      %h3.title
        %a{:href => entry.link, :title => "View on #{entry.source}"}
          - if entry.source.eql? 'Github'
            = entry.title
          - elsif entry.source.eql? 'Twitter'
            Tweet
          - elsif entry.source.eql? 'Last.fm'
            Just listened to
        %span.at
          @
        %span.time
          =format_time entry.published
      %p.content= entry.content

